<%- include('partials/header') %>
<div class="container mt-3">
    <h1>Hello from home.ejs</h1>
</div>
<script type="text/javascript" charset="utf-8">
    let data = <%- JSON.stringify(data)%>
    console.log(data)
</script>
<% -include('partials/footer')%>
