<%- include('partials/header') %>
<div class="container-fluid heaader">
    <h1 style="text-align: center;">MANDI PRICES</h1>
    <hr>
</div>
<div class="flexbox">
  <form class="ml-5 m-3 mr-4 form" id="myform">
    <div class="mb-3">
      <label for="state" class="form-label">State:</label>
      <input type="text" class="form-control" id="state"> 
    </div>

    <div class="mb-3">
      <label for="district" class="form-label">District:</label>
      <input type="text" class="form-control" id="district">
    </div>

    <div class="mb-3">
      <label for="pincode" class="form-label">Pincode:</label>
      <input type="text" class="form-control" id="pincode">
    </div>

    <div class="mb-3">
      <label for="commodity" class="form-label">Commodity:</label>
      <input type="text" class="form-control" id="commodity">
    </div>

    <div class="mb-3">
      <input type="submit" class="submit" id="sumbit">
    </div>
  </form>
   
  
  <table class="table table-bordered mr-5 ml-3" >
    <thead>
      <tr>
        <th scope="col">APMC</th>
        <th scope="col">Commodity</th>
        <th scope="col">Min Price</th>
        <th scope="col">Max price</th>
        <th scope="col">Modal price</th>
      </tr> 
    </thead>
    <tbody id="mytable" >
      
    </tbody>
  </table>
  
</div>
<script type="text/javascript" charset="utf-8">
    let data = <%-data%>;

    console.log(data);
  
    let myform = document.querySelector("#myform");

    myform.addEventListener('submit' , (e)=>{
      e.preventDefault();
      
      let state = document.forms['myform'].elements['state'].value;
      let district = document.forms['myform'].elements['district'].value; 
      let commodity = document.forms['myform'].elements['commodity'].value;

      // if( data[state] != undefined ){
         
      //   if( data[state][district] != undefined ){
          
      //     if( data[state][district][commodity] != undefined ){

      //     }else{

      //     }

      //   }else{
      //     console.log(0);
      //   }


      // }else{
      //   console.log(0);
      // }

      let objArray = [];

      // console.log(data[state])
      // console.log(data[state][district][commodity]);
      if(data[state] === undefined){
          console.log('No such state exists')
      }else{
        if(data[state][district] === undefined){
          console.log('No such apmc in your area')
        }else{
          if(data[state][district][commodity] === undefined){
              console.log('No such commodity in any apmc in your area')
          }else{
            console.log(data[state][district][commodity]);
            const ans = data[state][district][commodity]
            let table = document.querySelector("#mytable");
            tr = document.createElement('tr');
            table.appendChild(tr); 
            var td1 = document.createElement('td');
            td1.textContent = district;
            tr.appendChild(td1);
            var td2 = document.createElement('td');
            td2.textContent = commodity;
            tr.appendChild(td2);
            var td3 = document.createElement('td');
            td3.textContent = ans[0];
            tr.appendChild(td3);
            var td4 = document.createElement('td');
            td4.textContent = ans[1];
            tr.appendChild(td4);
            var td5 = document.createElement('td');
            td5.textContent = ans[2];
            tr.appendChild(td5);
          }
        }
      }

    })


</script>
<% -include('partials/footer')%>
